@use "src/styles/layout";
@use "src/styles/typography";
@use "src/styles/palette";

.container {
  composes: container_md;
  padding-top: 1rem;
}

.h1 {
  composes: h1;
}

.body {
  composes: body;
}

.overline {
  composes: overline;
  color: map-get(palette.$grey, dark);
}
