@use "src/styles/layout";
@use "src/styles/typography";

.container {
  composes: container_md;

  padding-top: 1rem;
}

.flex {
  display: flex;
  column-gap: 1rem;

  &__spaced {
    @extend .flex;
    justify-content: space-between;
  }
}

.section {
  margin-bottom: 2rem;
}

.overline {
  composes: overline;
}

.h5 {
  composes: h5;

  margin-bottom: .5rem;
}

.team {
  width: 100%;
}

.players {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1rem;
}
