@use "src/styles/layout";
@use "src/styles/typography";

.container {
  composes: container_md;
  padding-top: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;

  &__spaced {
    @extend .flex;
    margin-bottom: 2rem;
  }
}

.card {
  margin-bottom: 1rem;
}

.body {
  composes: body;
}