@use "src/styles/layout";
@use "src/styles/typography";
@use "src/styles/palette";

.container {
  composes: container_md;
  padding-top: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;

  &__spaced {
    @extend .flex;

    margin-bottom: 1rem;
  }
}

.card {
  margin-bottom: 1rem;
}

.caption {
  composes: caption;
  color: map-get(palette.$grey, dark)
}