$primary: (main: #C02942, contrast: #ffffff);
$secondary: (main: #53777A, contrast: #ffffff);

$brand: (primary: $primary, secondary: $secondary);

$grey: (medium: #9e9e9e, dark: #666666);

$background: #F3F6F9;