$primary_family: 'Roboto', sans-serif;
$secondary_family: 'Quicksand', sans-serif;

%base {
  margin: 0;
}

%heading_base {
  @extend %base;

  font-family: $secondary_family;
}

.h1 {
  @extend %heading_base;

  font-size: 4rem;
  line-height: 1.2;
}

.h5 {
  @extend %heading_base;

  font-size: 1.5rem;
  line-height: 1.334;
  font-weight: 400;
}
.body {
  @extend %base;

  font-family: $primary_family;
  font-size: 1rem;
  line-height: 1.5;

  &__heavy {
    @extend .body;

    font-weight: 600;
  }
}

.caption {
  @extend %base;

  font-size: 0.75rem;
  line-height: 1.66;
  text-transform: lowercase;
}