@use "./palette";

html,
body {
  padding: 0;
  margin: 0;
  font-family:  sans-serif;
}

* {
  box-sizing: border-box;
  &:after, &:before {
    box-sizing: inherit;
  }
}

body {
  background-color: palette.$background;
}
