@use "src/styles/layout";
@use "src/styles/typography";
@use "src/styles/palette";

.container {
  composes: container_md;
  padding-top: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

}

.body {
  composes: body;
  color: palette.brand(primary);
}

.game {
  padding: .5rem 0;
  display: flex;

  > div {
    white-space: nowrap;

    &:first-of-type {
      width: 100%;
    }

    &:last-of-type {
      width: 100%;
      text-align: right;
    }
  }
}