@use "src/styles/palette";

.root {
  min-height: 100vh;
}
.navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.navigation_item {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: map-get(palette.$grey, dark);
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;


  &__active {
    @extend .navigation_item;

    color: map-get(palette.$primary, main);
  }
}

.navigation_label {
  font-size: 0.75rem;
  margin-top: .5rem;
}