@use "src/styles/typography";
@use "src/styles/palette";

.scoreboard {
  display: flex;
  align-items: center;

}

.scoreboard_team {
  composes: body;

  width: 100%;
}

.scoreboard_score {
  composes: h5;

  white-space: nowrap;
}

.details {
  display: flex;
  margin-top: .5rem;
  justify-content: space-between;
}

.caption {
  composes: caption;
  color: map-get(palette.$grey,dark);
}