@use "src/styles/layout";
@use "src/styles/typography";

.container {
  composes: container_md;
  padding-top: 1rem;
}

.round {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: .5rem
  }

}

.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreboard_team {
  composes: body;
}

.scoreboard_score {
  composes: h5;
}

.card {
  margin-bottom: 1rem;
}