@use "src/styles/palette";

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

.bellow {
  background-color: #ffffff;
}

.bellow_header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  background-color: map-get(palette.$grey, light);
}

.bellow_content {
  overflow: hidden;
  transition: height $transition;
}

.bellow_content_inner {
  padding: 1rem .5rem;
}